<div *ngFor="let p of tvShows">
  
        <div class="cards">
            <img class="cards__img" [src]="p.Images[0]" />
            <div class="cards__overlay">
                <div class="card__title">{{p.Title}}</div>
                <div class="card__runtime">
                    {{p.Released}}
                </div>
                <div class="card__description">{{p.Plot}}</div>
                <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
            </div>
        </div>
    </div>

