<p>all works!</p>
<div class="container">
    <div class="cards">
        <img class="cards__img" src="" />
        <div class="cards__overlay">
            <div class="card__title">hello</div>
            <div class="card__runtime">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni iure aut?
            </div>
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
        </div>
    </div>
    <div class="cards">
        <img class="cards__img" src="" />
        <div class="cards__overlay">
            <div class="card__title">hello</div>
            <div class="card__runtime">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni iure aut?
            </div>
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
        </div>
    </div>  <div class="cards">
        <img class="cards__img" src="" />
        <div class="cards__overlay">
            <div class="card__title">hello</div>
            <div class="card__runtime">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni iure aut?
            </div>
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
        </div>
    </div>
    <div class="cards">
        <img class="cards__img" src="" />
        <div class="cards__overlay">
            <div class="card__title">hello</div>
            <div class="card__runtime">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni iure aut?
            </div>
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
        </div>
    </div>
    <div class="cards">
        <img class="cards__img" src="" />
        <div class="cards__overlay">
            <div class="card__title">hello</div>
            <div class="card__runtime">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni iure aut?
            </div>
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
        </div>
    </div>
    <div class="cards">
        <img class="cards__img" src="" />
        <div class="cards__overlay">
            <div class="card__title">hello</div>
            <div class="card__runtime">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni iure aut?
            </div>
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
        </div>
    </div>
    <div class="cards">
        <img class="cards__img" src="" />
        <div class="cards__overlay">
            <div class="card__title">hello</div>
            <div class="card__runtime">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni iure aut?
            </div>
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
        </div>
    </div>
    <div class="cards">
        <img class="cards__img" src="" />
        <div class="cards__overlay">
            <div class="card__title">hello</div>
            <div class="card__runtime">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores magni iure aut?
            </div>
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <!-- <img class="cards__img2" [src]="p.Images[1]" /> -->
        </div>
    </div>


</div>