#logo{
    border: 1px solid green;
    background-color:  green;
    justify-content: left;
    font-size: 1.5em;
    

}
img {
    width:60px;
    height: 60px;
    margin:5px;
}
 #links {
    display:flex;
    justify-content:space-around;
    font-size: 1.1em;
    color: white;
    justify-content: right;
    gap: 30px;
    background-color:#65c786ff;
    padding-right:20px;
    cursor:pointer;
   }
   #link{
    color:white;
    text-decoration: none;
    &:hover{
        color:Black;
        transform: scale(1.2);
    }
   }
span{
    display:inline;
    margin-left:50px;
    color:white;
}