.container{
    border: 1px red solid;
    width: 50%;
    background-color: #65c786ff;
    margin: 30px auto 30px auto;
    justify-content: center;
    border-radius: 10px;
   
}

body {
    font-family: Arial, sans-serif;
  
}
form {
    max-width: 75%;
    margin: 20px auto;
}
label, textarea {
    display: block;
    margin-bottom: 10px;
}
textarea {
    max-width: 75%;
    resize: vertical;
}
button {
    padding: 10px;
    background-color: black;
    color: #65c786ff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
    color:black;
}