<p>contact works!</p>
<div class="container">

<form action="submit_form.php" method="post">
    <h4>Contact us</h4>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="4" required></textarea>

    <label for="terms"> 
        <input type="checkbox">
        1. I agree to the terms and conditions. <br>
        2. We will reachh out you as soon as possible.
    </label>

    <button type="submit">Submit</button>
</form>

</div>